
*{
    padding: 0;
    margin: 0;
}

.container{
    border: 1px solid gray;
    
    border-radius: 20px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 400px;
    text-align: center;
    padding: 50px;
}

.main{
    width: 60%;
    margin-left: 50px;
 
}

.header{
    display: flex;
    align-items: center;
}
.btns{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
    margin: auto;

}

.btn{
    height: 60px;
    padding: 5px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    font-size: 2rem;
    color: #333;

}


.operator {
    color: #fff;
    background-color: aquamarine;
    font-size: 20px;
    font-weight: 700;

}


.delete {
    background-color: #f0595f;
    border: none;
    color: #fff;
    width: 80px;
    height: 30px;
    padding: 20px;  
    margin-top: -10px;
}

.equal-sign {
    background-color: #dfe0e1;
    border: none;
    color: #fff;
}


.output{
    background-color:rgb(160, 161, 161);
    
    color: black;
    font-size: medium;
    width: 50%;
    height: 30%;
    cursor: default;
    padding: 10px 15px; 
    margin: auto;
    margin-bottom: 10px;
}